<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299555597092-l6fnl7evdnl82it2viq5lnm6dc7en66k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299555597092-l6fnl7evdnl82it2viq5lnm6dc7en66k</string>
	<key>API_KEY</key>
	<string>AIzaSyAFhfKuXiC2BP8XQCcXqRRrEcNC3KqyNQs</string>
	<key>GCM_SENDER_ID</key>
	<string>299555597092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.flutterPhuonghaiApp</string>
	<key>PROJECT_ID</key>
	<string>greenlab-database</string>
	<key>STORAGE_BUCKET</key>
	<string>greenlab-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299555597092:ios:bffc398da7deb3b826e1b1</string>
	<key>DATABASE_URL</key>
	<string>https://greenlab-database-default-rtdb.firebaseio.com</string>
</dict>
</plist>